body {
    margin: 0;
}

.front-page-header {
    background-image: url('./assets/image-hero-desktop.png');
    background-size: 60%;
    height: 500px;
    background-position: right -150px top -100px;
    background-repeat: no-repeat;
}

.dark-button {
    background: black;
    border-radius: 1.5em;
    color: white;
    padding: 0.75em 1.25em;
}

.header-top {
    padding: 0.75em 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.inner-container {
    width: 600px;
    margin: 0 auto;
}

footer {
    padding: 0.75em 1.25em;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}