* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.front-page-header {
    background-image: url('./assets/image-hero-desktop.png');
    background-size: auto 450px;
    height: 350px;
    background-position: right -150px top -100px;
    background-repeat: no-repeat;
}

.dark-button {
    background: black;
    border-radius: 1.5em;
    color: white;
    padding: 0.75em 1.25em;
}

.header-top {
    padding: 0.75em 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.inner-container {
    width: 720px;
    margin: 0 auto;
}

footer {
    padding: 0.75em 1.25em;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5em;
}

.card {
    width: 350px;
    height: 322px;
    box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442);
    padding: 2.25em;
    border-radius: 2em;
}